<div>
	<a href="#/templates"> Go Back </a> 
	<br>
	<br>
	<div class="col-md-4">
		<img class="img-full" src="img/blue.jpg">
	</div>

	<div class="col-md-8">
		<h3> Blue template </h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt velit vitae dignissim tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer egestas convallis eleifend. Duis sapien risus, maximus sit amet varius non, condimentum in nunc. In iaculis vestibulum metus, ac luctus nisl convallis et. Sed pulvinar nibh lorem, a venenatis quam scelerisque a. Integer ex lacus, blandit eleifend molestie ut, pretium non risus. Cras elementum, justo et tempus volutpat, dui justo hendrerit dolor, quis lobortis ipsum metus a velit. Nunc id velit sit amet dolor finibus scelerisque sit amet commodo tellus. Etiam dui elit, varius vel purus consectetur, maximus aliquet est. Nam in nulla posuere, iaculis arcu at, viverra arcu. Etiam sed nisi eu erat cursus molestie id ut ex. </p>
		<h4> $19.99</h4>
		BUY IT
	</div>
	
</div>