<div class="row templates">
	<div class="col-md-4">
		<h3> Blue Store </h3>
		<img src="img/blue.jpg">
		<h4> $19.99 </h4>
		<a class="btn btn-primary btn-block" href="#/templates/1"> Details </a>
	</div>
	<div class="col-md-4">
		<h3> Red Store </h3>
		<img src="img/red.jpg">
		<h4> $19.99 </h4>
		<a class="btn btn-primary btn-block" href="#/templates/1"> Details </a>
	</div>
	<div class="col-md-4">
		<h3> Green Store </h3>
		<img src="img/green.jpg">
		<h4> $19.99 </h4>
		<a class="btn btn-primary btn-block" href="#/templates/1"> Details </a>
	</div>
	<div class="col-md-4">
		<h3> Orange Store </h3>
		<img src="img/orange.jpg">
		<h4> $19.99 </h4>
		<a class="btn btn-primary btn-block" href="#/templates/1"> Details </a>
	</div>



	<div class="col-md-4">
		<h3> Gray Store </h3>
		<img src="img/gray.jpg">
		<h4> $19.99 </h4>
		<a class="btn btn-primary btn-block" href="#/templates/1"> Details </a>
	</div>

	<div class="col-md-4">
		<h3> Purple Store </h3>
		<img src="img/purple.jpg">
		<h4> $19.99 </h4>
		<a class="btn btn-primary btn-block" href="#/templates/1"> Details </a>
	</div>

	
</div>	

